# Build results
[Bb]in/
[Oo]bj/
artifacts/
Justfile

# Test results
[Tt]est[Rr]esult*/
TestResults/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# OS files
.DS_Store
Thumbs.db
